{{~it :box}}
<div class="witbox-modal-confirm-text">{{=box.text}}</div>
<div class="witbox-modal-confirm-buttons">
  <button class="ok close">OK</button>
  <button class="cancel close">Cancel</button>
</div>
{{~}}