<div class="witbox-modal-messagebox">
  <div class="witbox-text">{{=it.text}}</div>
  <div class="witbox-buttons" style="text-align:center">
    <button class="witbox-ok witbox-close">OK</button>
  </div>
</div>