<div class="witbox-modal-messagebox">
  <div class="witbox-text">{{=it.text}}</div>
  <div class="witbox-buttons">
    <button class="witbox-ok witbox-close">OK</button>
    <button class="witbox-cancel witbox-close">Cancel</button>
  </div>
</div>