<div class="witbox-modal-messagebox">
  <div class="text">{{=it.text}}</div>
  <div class="buttons">
    <button class="ok close">OK</button>
    <button class="cancel close">Cancel</button>
  </div>
</div>