<div class="prev-button"></div>
<div class="next-button"></div>
<div class="witbox-centered" style="opacity: 0">
  <div class="close icon-close"></div>
  <div class="content"></div>
</div>
<div class="pages"></div>