<div class="witbox-viewport-galery">
  <div class="witbox-prev-button"></div>
  <div class="witbox-next-button"></div>
  <div class="witbox-modal-galery" style="opacity: 0">
    <div class="witbox-close"></div>
    <div class="witbox-content"></div>
  </div>
  <div class="witbox-pages"></div>
</div>